.admin-dashboard {
    width: 80%;
    margin: 2rem auto;
    padding: 20px;
}

.admin-dashboard h2 {
    color: #0056b3; /* Warna biru tua */
    margin-bottom: 1rem;
}

.admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 margin-bottom: 20px;


}

.admin-dashboard th,
.admin-dashboard td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
}

.admin-dashboard th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.admin-dashboard tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Warna belang pada baris tabel */
}

.reply-form-container {
    border: 1px solid #ddd;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1)
}


.reply-form h3 {
    color: #007bff;
    margin-bottom: 1.5rem;
}

.reply-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.reply-form input,
.reply-form textarea {
  width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reply-form button {
    background-color: #007bff; /* Biru */
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;


}


.reply-form button:hover {
    background-color: #0056b3;
}


.reply-form button[type="button"]{
 background-color: #dc3545;
}


.reply-form button[type="button"]:hover{

    background-color: #c82333;


}